<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prediction page</title>
</head>
<body>
  
  
  <h1>IMDB RATING PREDICTION</h1>
  <hr>
  <form method="POST" action="{{url_for('home')}}">
    
    <h3>Input features below to make a prediction</h3><br>
    <b> 
      1. metascore : <input type="number", name='metascore', placeholder="enter (0.0 ~ 100.0)"> <br>
      2. internet_movie_database_rating :  <input type="text", name='internet_movie_database_rating', placeholder="enter  (0.0 ~ 10.0)"> <br>
      3. rotten_tomato_rating :  <input type="number", name='rotten_tomato_rating', placeholder="enter  (0.0 ~ 100.0)"> <br>
      4. metacritic_rating :  <input type="number", name='metacritic_rating', placeholder="enter  (0.0 ~ 100.0)"> <br>
      5. budget :  <input type="number", name='budget', placeholder="0.0 ~ 1000000000.0"> <br>
      <h3>Check movie genre: </h3>
      6. Action :  <input type="checkbox", name='Action', value="1"> <br>
      <input type="hidden", name='Action', value="0"> 
      
      7. Adventure :  <input type="checkbox", name='Adventure', value="1"> <br>
      <input type="hidden", name='Adventure', value="0"> 
      
      8. Animation :  <input type="checkbox", name='Animation', value="1"> <br>
      <input type="hidden", name='Animation', value="0"> 

      9. Biography :  <input type="checkbox", name='Biography', value="1"> <br>
      <input type="hidden", name='Biography', value="0"> 

      10. Comedy :  <input type="checkbox", name='Comedy', value="1"> <br>
      <input type="hidden", name='Comedy', value="0"> 

      11. Crime :  <input type="checkbox", name='Crime', value="1"> <br>
      <input type="hidden", name='Crime', value="0"> 

      12. Drama :  <input type="checkbox", name='Drama', value="1"> <br>
      <input type="hidden", name='Drama', value="0"> 

      13. Family :  <input type="checkbox", name='Family', value="1"> <br>
      <input type="hidden", name='Family', value="0"> 

      14. Fantasy :  <input type="checkbox", name='Fantasy', value="1"> <br>
      <input type="hidden", name='Fantasy', value="0"> 

      15. Horror :  <input type="checkbox", name='Horror', value="1"> <br>
      <input type="hidden", name='Horror', value="0"> 

      16. Musical :  <input type="checkbox", name='Musical', value="1"> <br>
      <input type="hidden", name='Musical', value="0"> 

      17. Mystery :  <input type="checkbox", name='Mystery', value="1"> <br>
      <input type="hidden", name='Mystery', value="0"> 


      18. Romance :  <input type="checkbox", name='Romance', value="1"> <br>
      <input type="hidden", name='Romance', value="0"> 

      19. Sci-Fi :  <input type="checkbox", name='Sci-Fi', value="1"> <br>
      <input type="hidden", name='Sci-Fi', value="0"> 

      20. Sport :  <input type="checkbox", name='Sport', value="1"> <br>
      <input type="hidden", name='Sport', value="0"> 

      21. Thriller :  <input type="checkbox", name='Thriller', value="1"> <br>
      <input type="hidden", name='Thriller', value="0"> 

      <br><br>
      

    </b>
      <input type="submit" , value='predict!' >

  </form>

    <hr>
    <br>

    <h2>PREDICTION</h2>
    <br>
      <h2> features: {{ features}}</h2>
      <h2>Based on the selected features above, IMDB rating is : {{prediction}}</h2>
      


  
</body>
</html>